@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }

.search {
    width: 100%;
    text-align: center;
}

.logo {
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
    text-align: center;
}

.center {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    font-family: 'Roboto', sans-serif;
}

.adv {
    margin-left: 75px;
    margin-top: 20px;
}

input.adv_s {
    background-color: #4285F4;
    text-align: center;
    padding:10px;
    margin-top: 13px;
    margin-left: 4px;
    border: none;
    color: white;
    transition-duration: 0.4s;
    cursor: pointer;
}

input.g-search, #lucky, .s-images { /* Got some styling hints from google homepage */
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 27px 7px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

input.g-search:hover, #lucky:hover, .s-images:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

input.search-bar, .img-search {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    background-image: url('search1.png');
    padding: 12px 20px 12px 40px;
}

input:focus {
    outline: none;
}

.field {
    margin: 5px;
    box-shadow: #2d2d2d;
}

.topnav {
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
  }

.topnav img,a {
    float: left;
    text-align: center;
    padding: 14px 10px;
    font-size: 15px;
    line-height: 35px;
}

.topnav-right {
    float: right;
}

.g-sign { /* The styling for the blue sign in button */
    background-color: #4285F4;
    text-align: center;
    width:75px;
    padding:10px;
    margin-top: 13px;
    margin-left: 4px;
    border: none;
    color: white;
    transition-duration: 0.4s;
    cursor: pointer;
}

.google:hover { /* Hover effect seen on the Google homepage buttons */
background-color: white; 
color: black; 
border: 2px solid #4285F4;
}

.bottom-bar { /* Creating a footer that properly aligns the different links */
display: flex;
align-items: center;
padding: 0px 30px;
background-color: #ececec;
border-top: 1px solid #d4d4d4;
}

.bar-left {
display: flex;
align-items: center;
} 

.bar-right {
margin-left: auto;
display: flex;
align-items: center;
}

.menu {
    display: flex;
}

.menu a {
color: #2d2d2d;
text-decoration: none;
margin-right: 10px;
padding: 7px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-emphasis: initial;
}

a:visited { 
    text-decoration: none;
    color: black;
}

footer { /* Forces the footer to stay at the bottom of the page */
    position: fixed;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
}